@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

.testimonils .swiper-slide {
  background: rgba(128, 128, 128, 0.185);
  border-radius: 0px 0px 100px 0px;
  padding: 30px;
}
  
 
  
  